<nav class="navbar navbar-expand-lg navbar-light bg-primary">  
        <a class="navbar-brand" href="template1" > <img src="/static/img/logoOng2.png" class='border border-success' alt="">Seja bem vindo ao fale com nosco</a>

    </nav>
  
 <div class="row bg-info bg-secondary titulo">
      <div class=" bg-secondary border border-info" id="textoPrincipal"> 
              <p class="titulo border border-dark"> Quem somos? </p>
              <br> Olá meu nome é Eduardo Henrique Meneghetti sou o desenvolvedor responsável deste site, 
              juntamente com o Serviso Nacional de Aprendizagem Comercial(SENAC), por aqui podem me contatar
              para relatar bugs ou falhas do sistema. Além é claro que estaremos aceitando dúvidas e possíveis
              parcerias para continuarmos a fazer com que este site consiga ajudar cada vez mais Ongs e facilitar
              a conversação de doador e Ong.
      </div>
<p class="text-break bg-success text border border-dark">
    Número para contato:
    <br>
    Email:
</p>