<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header car">
    <h1>BEM VINDO AO FALE COM NOSCO!
    </h1>  
    </div>
 <div class="row">
      <div id="textoPrincipal"> 
              <p class="titulo border border-dark"> Quem somos? </p>
              <br> Olá meu nome é Eduardo Henrique Meneghetti sou o desenvolvedor responsável deste site, 
              juntamente com o Serviso Nacional de Aprendizagem Comercial(SENAC), por aqui podem me contatar
              para relatar bugs ou falhas do sistema. Além é claro que estaremos aceitando dúvidas e possíveis
              parcerias para continuarmos a fazer com que este site consiga ajudar cada vez mais Ongs e facilitar
              a conversação de doador e Ong.
      </div>
<p class="text-break bg-success text border border-dark">
    Número para contato:
    <br>
    Email:
</p>
</div>