
<div class="card-header bg-white">
<h1>Atualização de dados</h1>  
<br>
{{#each doador}}
    <form action="/updateUsuario" method="POST">
    <input type="hidden" name="codigo" readonly="true" value={{id}}>
    <a> <b>Alterar nome:</b> <input class="bg-info" type="text" name="usuario" value={{usuario}}></a>
    <a> <b>Alterar senha:</b> <input class="bg-info" type="text" name="senha" value={{senha}}></a>
    <input type="submit" name="conectar">   
    </form>
{{/each}}
</div>