  
  <br>
<div class="container">
  <div class="card">
    <div class="card-header car">
    <h1>CADASTRO PARA ONGs
    </h1>  
    </div>
            <form action="/cadOng" method="POST" enctype="multipart/form-data">

          <div class="Form-group"> 
            <label for="inputImage">Coloque a Imagem da Ong:</label>
            <input name="colocarImagem" type="file" class="mix-auto form-group" style="width: 137px;">
          </div>
        
          <div class="form-group">
            <label for="inputAddress2">Nome da ONG</label>
            <input name="usuario" type="text" class="form-control" id="inputAddress0" placeholder="digite o nome" required>
          </div>

           <div class="form-group">
            <label for="inputAddress2">CNPJ</label>
            <input name="cnpj" type="number" class="form-control" id="numeric" placeholder="somente números" required>
          </div>

          
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input name="Email" type="email" class="form-control" id="inputEmail2" required>
          </div>

          <div class="form-group col-md-6">
            <label for="inputPassword4">Senha</label>
            <input name="senha" type="password"  rows="10" cols="70" class="form-control" id="inputPassword4">
          </div>
        </div>

        <div class="form-group">
            <label for="inputAddress3">numero da Ong</label>
            <input name="telefone" type="number" class="form-control" id="numeric" placeholder="número da sua" required>
          </div>
        
      
       <textarea name="descricao" class="form-group" placeholder="descrições sobre sua Ong exemplo: telefone,
       endereço, hitoria, horario de funcionamento etc etc." required></textarea>

        <input type="hidden" name="tipo" value="Ong">

        <button type="submit" class="btn btn-primary form-group">prosseguir</button>
      </form>
      </div>

<br>
</div>

      
      