 <br>
<div class="container">
  <div class="card">
      <div class="card-header">
        <h1>ESCOLHA A CATEGORIA QUE DESEJA DOAR!
        </h1> 
      </div>
  <div class="list-group">
      <a href="/animais" class="list-group-item list-group-item-action" >Animais</a>
      <a href="/alimentos" class="list-group-item list-group-item-action">Alimentos</a>
      <a href="/brinquedos" class="list-group-item list-group-item-action">Brinquedos</a>
      <a href="/roupas" class="list-group-item list-group-item-action">Roupas</a>
      <a href="/dinheiro" class="list-group-item list-group-item-action" >Doações em dinheiro</a>
  </div>
</div>
</div>
