<div class="row bg-primry">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">  
        <a class="navbar-brand" href="template1" >  <img src="/static/img/logoONg2.png" class="border border-dark" alt="">CATEGORIAS DE DOÇÃO</a></nav>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active"></a>
            </a>
            <a href="/cadastroUsuario" class="list-group-item list-group-item-action">Quero ser doador</a>
            <a href="/cadastroOng" class="list-group-item list-group-item-action">Sou uma Ong</a>
        </div>
    </div>
    <div class="col-md-4"></div>
    </div>