
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header car">
    <h1>ESCOLHA SEU TIPO DE USUARIO
    </h1> 
    </div>
  <div class="card-body car">
      <a href="/cadastroUsuario" class="list-group-item list-group-item-action">Quero ser doador</a>
        <a href="/cadastroOng" class="list-group-item list-group-item-action">Sou uma Ong</a>
</div>
</div>


     