<h1>Cadastro Usúario</h1>
<form action="/cadUsuario" method="POST">
    <input type="text" name="nome" placeholder="informe nome"><br><br>
    <input type="password" name="senha" placeholder="informe a senha"/>
    <br><br>
    <input type="submit" name="conectar">
</form>