
  <br>
<div class="container">
  <div class="card">
    <div class="card-header car">
    <h1>FAÇA SEU LOGIN
    </h1> 
    </div>   
        <form action="/cadLogin" method="POST" >

        <div class="form-group">
          <label for="InputName">usuario</label>
          <input name="usuario" type="name" class="form-control" id="InputName" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">senha</label>
          <input name="senha" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>

        <button type="submit" class="btn btn-primary form-group">confirmar</button>
        <br><br>
        <p class="btn-danger" align="center">{{mensagem}}</p>


      <div class="dropdown-divider"></div>     
      <a class="mx-auto text-dark" style="width: 200px;" href="/escolhaTipo">
      Não é cadastrado ? Faça seu cadastro agora.</a>

      </form>
    </div>
  </div>
    
  