<div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary login">  
        <a class="navbar-brand" href="/template1" > <img src="/static/img/logoONg2.png" class=' border border-dark' alt="">  FAÇA SEU CADASTRO</a>
        </nav>

        <form action="/cadLogin" method="POST" >

        <div class="form-group">
          <label for="InputName">nome</label>
          <input name="nome" type="name" class="form-control" id="InputName" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">senha</label>
          <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">confirmar</button>
     
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-secundary" href="/escolhaTipo">Não é cadastrado ? Faça seu cadastro agora</a>
      <a class="dropdown-item " href="/esqueceuSenha">esqueceu a senha ?</a>
    </div>
    <div class="col-md-4"></div>
    </div>
    
  