<div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary login">  
        <a class="navbar-brand" href="/template1" > <img src="/static/img/logoONg2.png" class=' border border-dark' alt="">  FAÇA SEU CADASTRO</a></nav>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text ">não compartilhe seu email com terceiros</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">aceito</label>
        </div>
        <button type="submit" class="btn btn-primary">confirmar</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-secundary" href="/cadastroUsuario">Não é cadastrado ? Faça seu cadastro agora</a>
      <a class="dropdown-item " href="/esqueceuSenha">esqueceu a senha ?</a>
    </div>
    <div class="col-md-4"></div>
    </div>
  