<nav class="navbar navbar-expand-lg navbar-light bg-primary">  
        <a class="navbar-brand" href="template1" > <img src="/static/img/logoOng2.png" class='border border-success' alt="">Meu Perfil</a>

    </nav>

<H1>NOME DA PESSOA: </H1>
<h2>SUAS DOAÇÕES:</h2>