<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header car">
    <h1>NOSSAS ONGs
    </h1>  
    </div>
<form action="/cadUsuario" method="POST" enctype="multipart/form-data" >
<table class="table">
  <tr>
    <th>Imagem de Ong</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Descrição Ong</th>
  </tr>
  {{#each doador}}
    <tr>
      <td><img src="static/img/{{colocarImagem}}"></td>
      <td>{{nome}}</td>
      <td>{{Email}}</td>
      <td>{{descricao}}</td>
    </tr>
  {{/each}}
</table>
</form>
</div>