<nav class="navbar navbar-expand-lg navbar-light bg-primary">  
        <a class="navbar-brand" href="template1" > <img src="/static/img/logoOng2.png" class='border border-success' alt="">Nossas Ongs</a>

    </nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NOme</th>
      <th scope="col">Local</th>
      <th scope="col">telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ong Jogas</td>
      <td>Av. alguma coisa</td>
      <td>999999999</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Ong Amor</td>
      <td>Av. Outa coisa</td>
      <td>9595959595</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Ong Esperança</td>
      <td>Av. Sou uma Coisa</td>
      <td>9595959591</td>
    </tr>
  </tbody>
</table>