<br><br>
<!--formulario de exercicio passado pelo Andre na da 06/04/2021-->
<form action="/cadPessoa" method="POST" class="form-group">
    <input type="text" name="nome" autocomplete="off" placeholder="informe seu nome"/><br><br>
    <input type="text" name="endereco" autocomplete="off" placeholder="informe seu endereço"/><br><br>
    <input type="text" name="cpf" autocomplete="off" placeholder="informe seu cpf"/><br><br>
    <input name="colocarImagem" type="file"><br><br>
    <br><br>
    <input type="submit" value="cadastrar">
</form>