

a img{
    width: 90px;
    height: 80px;
    
}

.d-block{
    height:60vh;
}

.rodape{
    height:20vh;
}


#textoPrincipal{
    margin-left: 10px;
}

.titulo{
    text-align: center;
}

.CadastroOng{
    margin-left: 70px;
    margin-right: 70px;
}





