

a img{
    width: 90px;
    height: 80px;
    
}

.d-block{
    height:60vh;
}

.rodape{
    height:10vh;
}


#textoPrincipal{
    margin-left: 10px;
}

.titulo{
    text-align: center;
}

.CadastroOng{
    margin-left: 70px;
    margin-right: 70px;
}

.form-group{
    margin-left: 70px;
    margin-right: 70px;
} 

.titulo{
    margin-left: 70px;
    margin-right: 70px;
}

.text{
    margin-top:60px;
}

table img{
    width:60px;
    height:60px;
}

.card{
    margin-left: 70px;
    margin-right: 70px;
}

